<div class="container">
<table id="customer_orders_table" class="table table-hover">
<tr>
	<td><strong>Status</strong></td>
	<td><strong>Type</strong></td>
	<td><strong>Submitted</strong></td>
	<td><strong>Resolved</strong></td>
</tr>
<tbody ng-repeat="order in allOrders">
<tr>
	<td>{{order.order.status.status}}</td>
	<td>{{order.order.type.type}}</td>
	<td>{{longToDate(order.order.submitted)}}</td>
	<td>{{longToDate(order.order.resolved)}}</td>
</tr>
<tr ng-if="order.orderLines.length !== 0">
	<td></td>
	<td><strong>Dish Name</strong></td>
	<td><strong>Quantity</strong></td>
	<td><strong>Price</strong></td>
</tr>
<tr ng-repeat="orderLine in order.orderLines" >
	<td></td>
	<td>{{orderLine.dish.name}}</td>
	<td>{{orderLine.quantity}}</td>
	<td>{{orderLine.dish.price * orderLine.quantity | currency}}</td>

</tr>

</tbody>
</table>
</div>