<div class="container">
<h1>Hello Customer</h1>
<div>
	<select ng-model="filterDishType" class="dropdown" ng-change="filterChange()" ng-options="type.type for type in allDishTypes">
		</select>
</div>


<div>
	<table>
	<tr><th>Name</th><th>Price</th><th ng-if="hasOrderInSession">Add to Cart</th></tr>
	<tr ng-repeat="dish in allDishes | filter: filterDishByType" >
		<td>{{dish.name}}</td><td>{{dish.price}}</td><td ng-if="hasOrderInSession"><button ng-click="openAddItem(dish)">Add</button></td>
	</tr>
	</table>

</div>

<div>
<p ng-if="hasOrderInSession">You have started an order.</p>
<p ng-if="!hasOrderInSession">You have not started an order yet.</p>
<button ng-click="createOrderInSession()">Start Order</button>
<button ng-click="removeOrderFromSession()">Cancel Order</button>
</div>

<div ng-if="hasOrderInSession">
<table>
<tr><th>Dish</th><th>Quantity</th><th>Total</th></tr>
<tr ng-repeat="line in orderLines">
	<th>{{line.dish.name}}</th><th>{{line.quantity}}</th><th>{{line.dish.price * line.quantity}}</th>
</tr>
</table>
</div>


</div>