@CHARSET "UTF-8";


.container{
	background-color: transparent;
}
#blue{    
    background: linear-gradient(to right, #ff8566 , #ffff66); /* Standard syntax (must be last) */
}

#gdf-jumbo-image{
	background-image: url(https://c1.staticflickr.com/5/4095/4899229294_21e48ae161_b.jpg);
}
#header{
	color
}
	

#add_item_quantity {
	width: 40px;
}
#menu_table_div{
	width: 40%;
	display: inline-block
}
#menu_table{
	width: auto;
	display: inline-block
}
#cart_div{
	position: fixed;
	top: 50%;
	right: 5%;
}
#customer_nav_left{
	width: 60%;
}
#customer_nav_right{
	width: 30%;
	float: right;
}

