
<div class="container-fluid">



<table class="table">

<thead>
    <tr>
      <th>ID</th>
      <th>Time Submitted</th>
      <th>Time Resolved</th>
      <th>Type</th>
      <th>Status</th>
      <th>User</th>
    </tr>
    <tr scope="row">
	<td>{{orderUpdate.id}}</td>
	<td>{{longToDate(orderUpdate.submitted)}}</td>
	<td>{{longToDate(orderUpdate.resolved)}}</td>
	<td>{{orderUpdate.type.type}}</td>
	<td> 
	{{orderUpdate.status.status}}
	</td>
   
      <!--  <li>{{status.status}}</li>-->
	<td>{{orderUpdate.user.username}}</td>
</tr>
</tbody>
</table>
<p>Change Status</p>
<select ng-model="selectedStatus" ng-options="status.status for status in allOrderStatus"></select>
<button type="submit" class="btn btn-default" ng-click="updateOrder(selectedStatus)">Submit</button>


</div>
