<div class="container">
<div class="form-group" id="register_form">
<label>Username:</label> <input class="form-control" ng-model="newUser.username" type="text"><br>
<label>Email:</label> <input class="form-control" ng-model="newUser.email" type="text"><br>
<label>First Name: </label> <input class="form-control" ng-model="newUser.firstName" type="text"><br>
<label>Last Name: </label> <input class="form-control" ng-model="newUser.lastName" type="text"><br>
<label>Password:</label> <input class="form-control" ng-model="newUser.password" type="password"><br>
<button class="btn btn-primary" ng-click="register()">Register</button>
</div>
</div>